@media (min-width: 1024px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{

      #nav-menu{
        display: none;
      }
    }
  }

  .section-one{

    .intro{
      inline-size: 25%;

      h1{
        font-size: 39px;
      }
    }
  }

  .section-two{

    .info{

    }
  }

  footer{

    .top-item{
      justify-content: space-between;
    }

    .bottom-item{
      justify-content: space-between;
      padding-inline-end: 10rem;
    }
  }
}
