@media (max-width: 1023px) {

  .desktop-image{
    display: none;
  }

  header{

    nav{

      .nav-items{
        display: none;
      }
    }
  }

  .section-two{

    .image{
      text-align: center;
    }

    h1{
      text-align: center;
    }

    .info{
      flex-direction: column;

      h3{
        text-align: center;
      }
    }
  }

  footer{
    text-align: center;

    .top-item{
      flex-direction: column;
      gap: 0.8rem;
    }

    .bottom-item{
      flex-direction: column;
      gap: 2rem;
    }
  }
}
