@import "config";
@import "desktop";
@import "mobile";

body{
  font-family: $font-one;
  font-size: 15px;
  color: hsl(256, 26%, 20%);
}

header{
  position: relative;
  padding: 20px 0px;
  color: hsl(256, 26%, 20%);

  nav{
    display: flex;
    justify-content: space-between;

    h1{
      font-family: $font-three;
    }

    a{
      text-decoration: none;
      color: inherit;
    }

    ul{
      list-style-type: none;

      li{
        display: inline;
        margin-inline-start: 2rem;
        font-size: 12px;
        font-weight: bold;
      }

      li:hover{
        color: #000000;
      }

      .plans{
        border: 1px solid hsl(256, 26%, 20%);
        padding: 10px 20px;
      }

      .plans:hover{
        background-color: #000000;
        border: none;
        color: #FFFFFF;
      }
    }
  }
}

.section-one{
  background-color: hsl(256, 26%, 20%);

  .intro{
    color: #FFFFFF;
    padding: 20px 0px;

    h1{
      font-family: $font-two;
      margin-block-end: 1rem;
      letter-spacing: 0.15rem;
      font-weight: normal;
    }
  }
}

.section-two{
  margin-block-start: 5rem;
  padding-block-start: 10px;

  h1{
    font-family: $font-two;
    font-weight: lighter;
    font-size: 40px;
    margin-block-end: 3rem;
  }

  .info{
    display: flex;
    gap: 2rem;

    h3{
      margin-block-start: 1rem;
      margin-block-end: 1rem;
    }

    p{
      margin-block-end: 2rem;
      padding-inline-end: 10px;
    }
  }
}

.section-three{
  color: #FFFFFF;
  background-color: hsl(256, 26%, 20%);
  padding: 2rem;
}

footer{
  padding-block-start: 2rem;

  a{
    text-decoration: none;
    color: inherit;
  }

  .top-item{
    display: flex;
    border-bottom: 1px solid violet;
    padding-block-end: 1rem;
    margin-block-end: 2rem;

    img{
      margin-inline-start: 0.5rem;
    }
  }

  .bottom-item{
    display: flex;

    ul{
      list-style-type: none;

      li{
        font-weight: bold;
        margin-block-start: 1rem;
      }
    }
  }
}

.attribution{
  margin-block-start: 3rem;
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
